body{

    background: coral;
}

h1{
    text-align: center;
}

section{

    // display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    margin: 50px calc(100px + 3vw);
    div{

        width: 400px;
        height: 400px;
        background: white;
        margin: 20px;

    }
}